:root {
  --white: #fafafa;
  --main-text-color: #223a5e;
  --gradient-color-1: #6500e6;
  --gradient-color-2: #1b9898;
}

* {
  box-sizing: border-box;
  font-family: verdana, sans-serif;
}

/* Header Styles */
header {
  padding: 10px;
  background: linear-gradient(-5deg, var(--gradient-color-1)  -50%, var(--gradient-color-2) 100%);
  color: var(--white);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

header a {
  text-decoration: none;
}

header nav {
  display: inline;
}

header nav ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

header nav ul li {
  display: inline;
  padding: 10px 20px;
  font-size: 1.5em;
}

#hero {
  text-align: center;
  padding: 80px 0 40px 0;
  transition: top 1s;
}

.show-hero {
  position: relative;
  top: 0;
}

.hide-hero {
  position: absolute;
  top: -550px;
  width: 100%;
}

/* Main Content Style */
main {
  padding: 10px;
  color: var(--main-text-color);
}

/* Footer Style */
footer {
  background: linear-gradient(175deg, var(--gradient-color-1) -50%, var(--gradient-color-2) 100%);
  padding: 10px;
  color: var(--white);
  padding-bottom: 50px;
}

footer nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer nav ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

footer nav ul li {
  display: inline;
  padding: 0 20px;
}

footer a {
  text-decoration: none;
}


/* Other Style */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.logo {
  font-size: 2.5em;
}

.content-center {
  max-width: 60%;
  margin: 0 auto;
}

header a:hover,
header a:active,
header a:focus,
footer a:hover,
footer a:active,
footer a:focus {
  color: var(--main-text-color);
}

.h100 {
  height: 100%;
}

/* Responsive */

@media screen and (max-width: 800px) {

  header,
  footer {
    text-align: center;
  }

  .content-center {
    max-width: 100%;
    margin: 0 auto;
  }
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.members-cards-container > div {
  height: 410px;
}

.members-cards-container > div > img {
  object-fit: cover;
}

/* SCROLL TO TOP */
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #463ec6; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
  background-color: var(--main-text-color); /* Add a dark-grey background on hover */
}

.stt-arrow {
  font-size: 20px;
}